@import '_typography.pcss';
@import '_grids.pcss';

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.grid-5 {
  @apply grid;
  @apply md:grid-cols-2;
  @apply lg:grid-cols-5;
  @apply gap-4;
}

.btn-cta {
  display: inline-block;
  @apply bg-cta;
  @apply text-white;
  @apply py-3;
  @apply px-6;
  @apply rounded;
  @apply text-neutral-900;
}

@tailwind base;
@tailwind components;
@tailwind utilities;